body {
  font: 18px Helvetica, Arial, sans-serif;
  background-color: linen;
}
form {
  margin-top: 30px;
  width: 100%;
}
form div {
  margin-bottom: 12px;
}
form input[type="text"] {
  width: 300px;
  font-size: 80%;
}
form label {
  margin-right: 12px;
}
form button, form input[type="submit"] {
  height: 40px;
  width: 180px;
  font-weight: bold;
  font-size: 100%;
}
img.artist_portrait {
  border: 3px solid #000;
  height: 175px;
  margin: 0px 20px 20px 0px;;
}
#div_artist_container {
  margin: 0 auto;
  width: 100%;
  clear: both;
}
#div_artist_summary {
  float: left;
  width: 50%;
  padding: 0px 35px 12px 0px;
}
#div_lastfm_results {
  margin-bottom: 55px;
}
#div_ticketmaster_results {
  float: left;
  height: 100%;
  width: 20%;
  overflow: scroll;
  margin-right: 8px;
}
#div_ticketmaster_results p {
  font-size: 80%;
}
#div_twitter_results {
  float: left;
  width: 20%;
}
#div_twitter_results p {
  font-size: 80%;
}
#div_twitter_results .twitter_user_name {
  color: #657786;
}
#div_fanart_results {
  display: block;
  width: 100%;
  padding: 25px 0px 25px 0px;
  margin-left: 12px;
}
#div_fanart_results img {
  height: 150px;
  padding: 12px 3px 12px 12px;
}
