body {
  font: 18px Helvetica, Arial, sans-serif;
  background-color: linen;
}
#div_bg_container {
  width: 100%;
  height: 25%;
  position: relative;
}
#div_bg_container .bg {
  border: 1px solid #c0c0c0;
  background-image: url("../images/layout/banner_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  padding: 0px;
  margin: 0px;
  height: 140px;
  width: 100%;
  -webkit-filter: grayscale(65%);
  filter: grayscale(65%);
  opacity: 0.4;
}
#div_header h1 {
  font-size: 300%;
  color: black;
  text-align: center;
  top: 1%;
  left: 21%;
  position: absolute;
  z-index: 5;
}
form {
  margin-top: 0px;
  width: 100%;
}
form div {
  margin-bottom: 12px;
}
form input[type="text"] {
  width: 300px;
  font-size: 80%;
}
form label {
  margin-right: 12px;
}
form button, form input[type="submit"] {
  height: 40px;
  width: 180px;
  font-weight: bold;
  font-size: 100%;
}
form .error {
  color: #ff0000;
  font-weight: bold;
}
img.artist_portrait {
  border: 3px solid #000;
  height: 175px;
  margin: 0px 20px 20px 0px;;
}
#div_artist_container {
  margin: 0 auto;
  width: 100%;
  display: none;
}
#div_artist_summary {
  float: left;
  width: 50%;
  padding: 0px 35px 12px 0px;
}
#div_lastfm_results {
  margin-bottom: 55px;
}
#div_ticketmaster_results {
  float: left;
  height: 100%;
  width: 20%;
  overflow: scroll;
  margin-right: 8px;
}
#div_ticketmaster_results p {
  font-size: 80%;
}
#div_twitter_results {
  float: left;
  width: 20%;
}
#div_twitter_results p {
  font-size: 80%;
}
#div_twitter_results .twitter_user_name {
  color: #657786;
}
#div_fanart_results {
  display: block;
  width: 100%;
  padding: 12px 0px 25px 0px;
  margin-left: 12px;
}
#div_fanart_results img {
  height: 150px;
  padding: 12px 3px 12px 12px;
}
